
top_anime_data_2024.csv
.ipynb_checkpoints/anime_data_2024-checkpoint.ipynb
.jupyter/desktop-workspaces/default-37a8.jupyterlab-workspace
.ipynb_checkpoints/anime_data-checkpoint.ipynb
.ipynb_checkpoints/get_anime_data-checkpoint.ipynb
.env